.friend_list{
  width: 300px;
  margin: 0 auto;
}

.item{
   display: flex;
   align-items: center;
   gap: 10px;
   margin: 0 auto;
   box-shadow: 0 0 8px 3px #a9a9;
   margin-bottom: 20px;
   padding: 10px;
   background-color: #fff;
}

.status {
   display: inline-block;
   width: 15px;
   height: 15px;
   border-radius: 50%;
 }
 
 .online {
   background-color: green;
 }

 .offline {
   background-color: red;
 }
 
 .avatar {
   border-radius: 10%;
   margin-right: 10px; 
 }

 .name {
   font-weight: 500;
   font-size: 18px;
 }